@font-face {
    font-family: Cinzel;
    src: url(../fonts/static/Cinzel-Regular.ttf);
}

@font-face {
    font-family: Cinzel_b;
    src: url(../fonts/static/Cinzel-Bold.ttf);
}

@font-face {
    font-family: Cinzel_eb;
    src: url(../fonts/static/Cinzel-ExtraBold.ttf);
}

body {
    font-family: Cinzel;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

img {
    max-width: 100%;
}

header {
    background-color: black;
    position: fixed;
    width: 100%;
}

nav {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 20px;

}

nav a {
    color: white;
    border-bottom: 1px solid transparent;
}

nav a:hover {
    color: lightgrey;
    border-bottom: 1px solid white;
}

.banner {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;

    color: white;
}

.banner .main-logo {
    max-width: 30%;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: black;
    margin: 0;

}

.titre {
    padding: 25px 0 0 0;
    Margin: 0;
    font-family: Cinzel_b;

}

.second {
    font-family: Cinzel;
    font-weight: 600;
    color: rgb(253, 253, 188);
}

.intro p {
    font-family: Cinzel;
    font-size: xx-small;
    color: lightgrey;
}

.btn_1 {

    padding: 10px 30px 10px 30px;
    margin: 10px 0 20px 0;
    background-color: burlywood;
    color: black;
    border-radius: 5px;
    box-shadow: inset white;

}

h2 {
    color: burlywood;
    font-family: Cinzel;
    font-weight: 100;
    font-size: medium;
}

main {
    background-color: black;

}

.info {
    display: flex;





}

.carte {
    border-radius: 8px;
    padding: 5px;
    margin: 15px;
    color: white;
    background-color: blue;
    align-items: center;

}