@font-face {
    font-family: Cinzel;
    src: url(../fonts/static/Cinzel-Regular.ttf);
}

@font-face {
    font-family: Cinzel_b;
    src: url(../fonts/static/Cinzel-Bold.ttf);
}

@font-face {
    font-family: Cinzel_eb;
    src: url(../fonts/static/Cinzel-ExtraBold.ttf);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;

}



}

body {
    font-family: Cinzel;
    margin: 0;
}

body h1::first-letter {
    font-size: xx-large;
}

a {
    color: white;
    text-decoration: none;
}

img {
    max-width: 100%;
}

header {
    background-color: black;
    position: fixed;
    width: 100%;
}

nav {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 20px;

}

nav a {
    color: white;
    border-bottom: 1px solid transparent;
}

nav a:hover {
    color: lightgrey;
    border-bottom: 1px solid white;
}

.banner {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;

    color: white;
}

.banner .main-logo {
    max-width: 30%;
}

.intro h3 {
    margin: 0;
    font-size: medium;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: black;
    margin: 0;

}

.titre {
    padding: 25px 0 0 0;
    Margin: 0;
    font-family: Cinzel_b;

}

h1 {
    color: white;
    margin-bottom: 0;
}



.second {
    font-family: Cinzel;
    font-weight: 600;
    color: rgb(253, 253, 188);
}

.intro p {
    font-family: Cinzel;
    font-size: xx-small;
    color: lightgrey;
}

.btn_1 {

    padding: 10px 30px 10px 30px;
    margin: 10px 0 20px 0;
    background-color: burlywood;
    color: black;
    border-radius: 5px;


}

.btn_1:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 16px 4px rgb(84, 83, 83);
}




h2 {
    color: burlywood;
    font-family: Cinzel;
    font-weight: 100;
    font-size: medium;
}

main {
    background-color: black;

}

.ACTU {
    text-align: center;
    font-weight: 600;
    font-size: x-large;
}

.info {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0 0 50px 0
}

.carte {
    border-radius: 8px;
    color: white;
    background: linear-gradient(180deg, #161922, #0f1219);
    align-items: center;
    width: 20%;
    overflow: hidden;
    height: 400px;
}

.info :hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 16px 4px rgb(84, 83, 83);
}

.carte p {
    font-size: x-small;
    color: lightgrey;
}

.carte h4 {
    font-size: small;
    color: lightgrey;
}


.carte_contenue {
    padding: 20px;
}

.carte_contenue h4 {
    margin: 0;
}

.end {
    display: flex;
    background: linear-gradient(180deg, #161922, #0f1219);
    justify-content: center;
    padding: 10px 0 25px 0;
    border-top: 1px solid rgb(70, 69, 69);
    border-bottom: 1px solid rgb(70, 69, 69);

}

.end input {
    background: black;
    color: lightgrey;
    width: 300px;
    height: 30px;

}

.end.btn_1 :hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 16px 4px white;
}

footer {
    background: linear-gradient(180deg, #161922, #0f1219);
    color: lightgrey;
    height: 50px;
}

footer img {
    display: flex;
    width: 5%;
    justify-content: flex-start;
    position: absolute;
}

.foot {
    display: flex;
    gap: 50px;
    font-weight: 100;
    font-size: xx-small;
    justify-content: flex-end;
    padding: 15px 150px 15px 0;
}

.foot a:hover {
    color: burlywood;

}

@media (max-width:900px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1080px;
        margin: 0 auto;
        padding: 0 20px;

    }

    nav {
        font-size: 65%;
    }

    .banner img {
        max-width: 100%;
        block-size: auto;
    }

    .info {
        display: flex;
        flex-direction: column;

        align-items: center;
    }

    .carte {
        width: 55%;
    }


    .foot {
        display: flex;
        flex-wrap: nowrap;
        width: 80%;
        gap: 5px;
        padding-left: 50px;
    }