@font-face {
    font-family: Cinzel;
    src: url(../fonts/static/Cinzel-Regular.ttf);
}

@font-face {
    font-family: Cinzel_b;
    src: url(../fonts/static/Cinzel-Bold.ttf);
}

@font-face {
    font-family: Cinzel_eb;
    src: url(../fonts/static/Cinzel-ExtraBold.ttf);
}

NAV {
    display: flex;
    gap: 50px;
    justify-content: center;
    background-color: black;
    padding: 20px;
}

nav a {
    color: white;
    text-decoration: underline black;
}

nav a:hover {
    text-decoration: underline white;
    color: lightgrey;
}

img {
    display: flex;
    width: 100%;
    position: absolute;
}

.bannier {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;

    color: white;


}



.clair {

    font-family: Cinzel;
    letter-spacing: 1.5px;
    border-bottom: 0.5px solid lightgrey;

}

.exp {
    font-size: 3.5rem;
    font-style: Cinzel_eb;
    margin: 0;
    color: beige;
}

.t33 {
    font-size: 7rem;
    margin: 0;
    color: beige;
}